In [1]:
import pandas as pd

In [4]:
comb = pd.read_excel("combustibles.xlsx", sheet_name = "ccombuco")

In [5]:
comb.head()

,!Num,Nome,UComb,Custo,EmiCO2,PC,UE,Type[0-Chronological/1-Scenario)
0,1,GASNACIO,MBTU,6.69,0.059,NaN,NaN,0
1,2,GASIMPOR,MBTU,6.56,0.059,NaN,NaN,0
2,3,ACPM,MBTU,16.00,0.078,NaN,NaN,0
3,4,CARBON,MBTU,3.00,0.093,NaN,NaN,0
4,5,COMBUSTOLEO,MBTU,12.00,0.085,NaN,NaN,0

In [8]:
#DataFrame vacio para el input
fuels = pd.DataFrame()

In [9]:
#Mapeo de nombres
fuels["fuel"] = comb["Nome"]

In [10]:
#Mapeo de emisiones
fuels["co2_intensity"] = comb["EmiCO2"]

In [18]:
#Mapeo de upstream emissions - Aun no esta

num_rows = len(fuels.index)
up_e = ["." for i in range(num_rows)]
fuels["gen_overnight_costs"] = up_e

In [19]:
fuels.to_csv("fuels.csv")