In [16]:
import pandas as pd

In [17]:
p_t = pd.read_excel("Plantas termicas.xlsx", sheet_name = "ctermico")

In [18]:
p_t.head()

,!Num,...Nombre...,#Uni,Tipo,.PotIns,.GerMin,.GerMax,..Teif.,..Ih...,.CVaria,...,...2,...3,ComT,CTransp,StartUp,sfal,NGas,NuCC,..NombreCC..,CoefE.
0,1001,BARRANQUILL3,1,0,60.0,0,60.0,5.44,21.24,5.53,...,NaN,NaN,0,0,16.682,0,NaN,NaN,NaN,1.0
1,1003,BARRANQUILL4,1,0,60.0,0,60.0,7.18,21.34,5.53,...,NaN,NaN,0,0,16.682,0,NaN,NaN,NaN,NaN
2,1068,TEBSAB,1,0,791.0,0,791.0,5.70,9.10,5.53,...,NaN,NaN,0,0,23.347,0,NaN,NaN,NaN,NaN
3,1069,TEBSAGIM,1,0,791.0,0,791.0,5.70,9.10,5.53,...,0.0,0.0,0,0,23.347,0,NaN,NaN,NaN,NaN
4,1036,FLORES 1,1,0,160.0,0,160.0,3.76,9.20,5.53,...,NaN,NaN,0,0,18.203,0,NaN,NaN,NaN,NaN

In [19]:
#Creación de dataframe vacio para gen_info
gen_info_t = pd.DataFrame()

In [20]:
#Mapeo de generation project
gen_info_t["GENERATION_PROJECT"] = p_t["...Nombre..."]

In [21]:
#Mapeo de gen_tech
num_rows = len(gen_info_t.index)
tech = ["Thermal" for i in range(num_rows)]
gen_info_t["gen_tech"] = tech

In [22]:
#Mapeo de combustible
combustibles = pd.read_excel("../combustible/combustibles.xlsx", sheet_name = "ccombuco")
#Diccionario para mapearlo
map_comb = {}
for i in range(len(combustibles.index)):
    map_comb[combustibles["!Num"][i]] = combustibles["Nome"][i] #Mapeo num:nombre
#Se asigna en una lista
name_comb = []
for i in range(num_rows):
    name_comb.append(map_comb[p_t["Comb"][i]])
gen_info_t["Gen_energy_source"] = name_comb

In [23]:
#Mapeo de zonas
prefix_zone = {"BARRANQUILL": "ATLANTICO", "TEBSA": "ATLANTICO", "FLORES": "ATLANTICO", "CARTAG": "BOLIVAR", "PROELECTRIC": "BOLIVAR", "CANDELARIA": "BOLIVAR", "TERMONORTE": "GCM", "GUAJ": "GCM", "TC_GECELCA":"COR-SUC", "PAIPA": "BOY-CAS", "TASAJERO": "NSANT", "ZIPA": "BOG-CUN", "MERILECTRICA": "SANT-ARA", "SIERRA": "ANT-CHO", "TERMOCENTRO": "SANT-ARA", "TERMODORA": "CQR", "TERMOVA": "VALLE", "TERMOEMC": "VALLE", "YOPAL": "BOY-CAS", "TERMORUBIALE": "MET-GUAV", "ELTESORITO": "COR-SUC"}
"Asignación en una lista"
name_zone = []
for i in range(num_rows):
    cond = False
    for j in prefix_zone:
        if j in p_t["...Nombre..."][i]:
            name_zone.append(prefix_zone[j])
            cond = True
            break
    if not cond:
        print("falta info")
        name_zone.append(".")   #Si no lo encuentra pone punto, PROBLEMA!
gen_info_t["gen_load_zone"] = name_zone

falta info
falta info

In [24]:
#Mapeo de edad maxima - Aun no esta
age = ['.' for i in range(num_rows)]
gen_info_t["gen_max_age"] = age

In [25]:
#Mapeo de is_variable - Aun no esta
variable = ['.' for i in range(num_rows)]
gen_info_t["gen_is_variable"] = variable

In [26]:
#Mapeo de is_baseload
baseload = [1 for i in range(num_rows)]
gen_info_t["gen_is_baseload"] = baseload

In [27]:
#Mapeo de full_load_heat_rate - Aun no esta
h_r = ['.' for i in range(num_rows)]
gen_info_t["gen_full_load_heat_rate"] = h_r

In [28]:
#Mapeo de variable_om
gen_info_t["gen_variable_om"] = p_t[".CVaria"]

In [29]:
#Mapo de connect_cost_per_mw - Aun no esta
cc_mw = ['.' for i in range(num_rows)]
gen_info_t["gen_connect_cost_per_mw"] = cc_mw

In [32]:
gen_info_t.to_csv('gen_info_thermal.csv')